/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2017, 10:18:33 PM
    Author     : Sean O'Neil
*/

img{
    height:100px;
    widows: 100px;
}